---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/hero.jpg';
---

<Layout
	title="About BLOsGa"
	description="一時衝動為自己寫的 blog 模板，寫到變屍體了"
	pubDate={new Date('July 02 2025')}
	heroImage={AboutHeroImage}
>
	<h1>關於我</h1>
	<div class='info'>
		如果你願意花一點時間認識我，你會發現你花了一點時間。
	</div>

	<p>阿嚕你好，我是 OsGa ，目前就讀國立雲林科技大學，再讀一個神奇專班，然後寫寫一些案子</p>	
	<p>主要興趣領域在 <b>資訊安全</b>、<b>各種開發</b>，<b>網路維運</b>，每個都會一點，但還有億點要學。</p>

	<a href='https://osga.dev'>點擊查看更多...</a>

	<h1>關於本站</h1>
	<p>	這裡是我的小小日記，紀錄各種筆記、生活等等事項。</p>
	<p>因為對之前的模板都沒有覺得喜好的，所以決定又挖了一個坑，自己刻一個模板出來！</p>
	<p>在參考許多大佬自己刻的 Blog 後，決定使用 <a href='https://astro.build'>Astro</a> 作為我這次的架構，順便練習我的前端。</p>
	<p>這個網站目前還存在很多問題我還沒有發現@@ ，如果發現的話可以幫我開 issue ，或是 <a href='https://osga.dev/contact'> 聯絡我 </a>！我會感薛尼🫰</p>
	
	<div class='warning'>希望改自己喜歡的樣子，能好好做紀錄 🙈</div>
	<h1>更多連結</h1>
	<ul>
		<li>
			<a href='https://github.com/osga24/blosga'>Blog repo</a>
		</li>
		<li>
			<a href='https://osga.dev'>OsGa.dev</a>
		</li>
	</ul>
</Layout>
